body{
    background-color: rgb(255, 3, 3);
    color:rgb(10, 10, 10);
}

section{
    background-color:rgb(253, 244, 244);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}


.MargemTitulo {
    margin: 6%;
}

header {

margin: 5%;
font-size: 20px;
text-align: center;

}
  
header {

    text-align: center;
}
